*{
    padding: 0px;
    margin: 0px;
    background: #181719;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Crimson Pro', serif;
}

.section-title{
    display: flex;
    justify-content: space-between;
    padding: 40px 150px 10px;
    color: white;

}
.section-title ul{
    display: flex;
    gap: 50px;
}
.section-title li{
    list-style: none;
    
}
.section-title h3{
    color: #FFF;
    font-family: Crimson Pro;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;

    width: 102px;
    height: 32px;
    border: 1px solid #FFF;
    padding:10px 10px 0px 20px;

}
.line{
    border-bottom: 1px solid #FFF;
    margin-bottom: 20px;

}

.main-main{
    max-width: 1440px;
    margin: 0 auto;
}
.main-section img{
    width: 90%;
}
.main-section{
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.main-title{
    padding-bottom: 200px;
    width: 50%;
    color: white;
}
.main-title h1{
    color: #FFF;
    font-family: Lora;
    font-size: 3rem;
    font-weight: 500;

}
.photo{
    width: 90%;
    padding-left: 200px;
}
.main-title p{
    width: 90%;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 50px;

}
.aliza{
    display: flex;
    gap: 20px;
    
}
.img-badge{
    width: 390px;
    height: 169px;
    display: flex;
    flex-direction: column;
    background: #181719;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

 
    color: white;
    position: relative;
    right: 100px;
    left: 45    0px;
    bottom: 100px;
    padding: 20px;
  
}
.img-badge h2{
    width: 50%;
    padding-top: 40px;
}
.aliza-img img{
    width:50px ;
    border-radius: 50%;
}
.badge-title{
    padding-top: 5px;

}
.badge-title h3{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;

}
.badge-title p{
    color: #828282;
    font-family: Montserrat;
    font-size: 1rem;

    font-weight: 500;

}
.img-badge h2{
    width: 60%;
    color: #FFF;
    font-family: Lora;
    font-size: 1.6rem;
    font-weight: 700;

}
.footer p{
    color: #A9A9A9;
    text-align: center;
    font-family: Montserrat;
    font-size: .8rem;
    font-weight: 500;

}
.footer span{
    color: #A9A9A9;
    font-family: Montserrat;
    font-size: .8rem;

    font-weight: 700;

    text-decoration-line: underline;
}
@media screen and (max-width:576px) {
   
    .main-img{
        
        display: flex;
        flex-direction: column;

    }
    .main-img .img-badge{
        position: relative;
        left: 450px;
        
        
       
        
    }
    .main-section{
          
        flex-direction: column;
      
    }
    .photo img{
        width: 700px;
        position: relative;
        left: 75px;
        margin: 20px;
    
    }
    .main-title{
        width: 500px;
        padding-left: 300px;
        padding-top: 20px;
    }
    .main-title h1{
        font-size: 4rem;
    }
    .main-title p{
     
        font-size: 2rem;
        text-align: left   ;
    }
    .section-title{
       flex-direction: column;
        gap: 100px;
    }
    .section-title >ul  li{
        font-size: 1.7rem;
        position: relative;
        right: 50px;
    }
    .section-title h3{
        font-size: 2rem;
        width: 200px;
        position: relative;
        right: 60px;
        padding-bottom: 20px;

    }
    .footer{
        
        width: 400px;
    
        
        margin-left: 180px;
    }
    .footer p , .footer span{
        font-size: 1rem;

    }

}
